@use 'spinner';

.searcher {
	display: flex;
	flex-direction: column;
	margin: 200px auto 0;
	width: 600px;
}

.search-box {
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #d1d1d1;

	.row {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: space-around;
		padding: 10px 20px;
		input {
			flex: 1;
			background: transparent;
			border: none;
			outline: none;
			height: 50px;
			font-size: 18px;
			color: #8d8d8d;
		}
		span {
			background: transparent;
			border: none;
			outline: none;

			.fa-solid {
				width: 25px;
				font-size: 22px;
				color: #000;
			}
		}
		
		&::before {
			position: absolute;
			padding: 0 10px;
			top: -12px;
			left: 20px;
			color: #8d8d8d;
			background: white;
		}
		&.with-before::before {
			content: 'Search';
		}
	}
}

.result-box {
	display: none;
	margin-top: 16px;
	background-color: #f4f4f4;
	border-radius: 8px;
	position: relative;
	z-index: 10;

	&::before {
		content: '';
		width: 10px;
		position: absolute;
		height: 10px;
		transform: rotate(45deg);
		top: -5px;
		left: 20px;
		background-color: #f4f4f4;
		z-index: 5;
	}
	& ul {
		padding: 0 20px;
	}
	& ul li {
		list-style: none;
		padding: 20px 10px;
		border-bottom: 1px solid #d9d9d9;
	}

	& ul li:last-child {
		border-bottom: 0px;
	}
}

.result-box.active {
	display: block;
}
